<footer class="mt-auto">
  <div class="footer navbar-fixed-bottom my_footer">
    <p class="text-center" style="position"> &copy; Shopp.my  all rights reserved </p>
  </div>
</footer>


<footer class="mt-auto">
  <div class="footer navbar fixed-bottom my_footer">
    <p class="text-center">&copy; Welcome to ABC store where u can buy different items</p>
  </div>

</footer>



<footer class="navbar fixed-bottom"> koduku


<footer class="mt-auto">
  <div class="footer navbar fixed-bottom my_footer">
    <p class="text-center"> ABS mailto:store@gmail.com  <br>  All Rights Reserved </p>
  </div>

</footer>




